
<h1>Nh Sales</h1>

<table id="sales" class="display nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>거래처코드</th>
      <th>거래처명 </th>
      <th>사업장코드 </th>
      <th>사업장명 </th>
      <th>매출일-전표번호</th>
      
      <th>검수일자 </th>
      <th>거래구분명 </th>      
      <th>제품명 </th>
      <th>제품코드 </th>
      <th>수량 </th>
      
      <th>매입단가 </th>
      <th>매입부가세 </th>
      <th>매입금액 </th>
      <th>공급금액 </th>
      <th>수수료 </th>
      <th>수수료부가세 </th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Nh sale', new_nh_sale_path , class:'btn btn-default'%>

<%= form_tag import_nh_sales_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", class:'btn btn-default' %>
<% end %>

<script>
var table;
$(document).ready(function() {
  table= $('#sales').DataTable({
  	//"dom": '<"top"l<"toolbar">>rt<"bottom"ip><"clear">', 
  	"scrollX": true,
  	"processing": true,
    "serverSide": true,
    "fixedColumns" : {
    	leftColumns:2
    },
  	"ajax": {
  		"uri": "nh_sales.json",
  		"type": "GET",
  		"data": function ( d ) {
					d.start_date = "2016-07-01";
					d.end_date = "2016-07-04";
				}	
  	 },
    "columns": [
        { "data": "to_code" },
        { "data": "to_name" },
        { "data": "from_code" },
        { "data": "from_name" },
        { "data": "sale_number" },
        
        { "data": "confirm_date" },
        { "data": "supply_type" },
        { "data": "product_name" },
        { "data": "product_code" },
        { "data": "purchase_amount" },
        
        { "data": "purchase_unit_price" },
        { "data": "purchase_tax" },
        { "data": "purchase_price" },
        { "data": "supply_price" },
        { "data": "commission" },
        { "data": "commission_tax" }

    ],
    "pagingType": "full_numbers"
  });
  $("div.toolbar").html('<div class="col-xs-4">Custom tool bar! Text/images etc.</div>')
});

</script>
