$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: #312312;
$navbar-default-link-color: gray;
$navbar-default-link-active-color:$light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg:black;


@import 'bootstrap';
@import "font-awesome";
@import 'posts';

body { padding-top:60px;}

// Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

// the following variable should be adjusted in the _settings.scss file
// changes the fonts size and circle size
$pagination-font-size: rem-calc(18);

// the following variable should be adjusted in the _settings.scss file
// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

.pagination a {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}